.form {
  display: flex;
  border-top: 2px solid #664c37;
  border-radius: 0 0 8px 8px;
}

.input {
  border: none;
  border-radius: 0 0 0px 8px;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #caa47b;
  padding: 20px;
  display: inline-block;
  border: none;
  border-radius: 0 0 8px 0;
  width: 20%;
}

.sendButton:hover {
  background: #664c37;
}

.sendButton:active {
  background: #423224;
  transition: 0.1s;
}
